@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.08rem;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  opacity: 0.5;
}

.line {
  opacity: 0.5;
  margin-bottom: 0;
}

.form_text {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 100%;
  padding: 10px;
}

.wrap .nav-wrap .logo {
  display: inline-block;
  font-weight: 900;
  font-size: 26px;
}
.wrap .nav-wrap .nav-top {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.wrap .nav-wrap .nav-top ul {
  display: inline-block;
}
.wrap .nav-wrap .nav-top ul li {
  display: inline-block;
  font-size: 15px;
  margin-left: 10px;
}
.wrap .nav-wrap .nav-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.wrap .nav-wrap .nav-bottom .nav-list {
  display: inline-block;
}
.wrap .nav-wrap .nav-bottom .nav-list .nav-list-li {
  cursor: pointer;
  color: #333;
  display: inline-block;
  margin-right: 20px;
}
.wrap .nav-wrap .nav-bottom .nav-list .nav-list-li:hover {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}
.wrap .nav-wrap .nav-bottom .nav-list .nav-list-li:hover .nav-item-contents {
  display: block;
}
.wrap .nav-wrap .nav-bottom .nav-list .nav-list-li .nav-item-contents {
  position: absolute;
  top: 138px;
  left: 0;
  display: none;
}
.wrap .nav-wrap .nav-bottom .nav-list .nav-list-li .nav-item-contents .nav-item-menu {
  background: #fff;
  padding: 20px 0;
  width: 100vw;
}
.wrap .nav-wrap .nav-bottom .nav-list .nav-list-li .nav-item-contents .container li {
  display: inline-block !important;
  margin-right: 16px;
  font-size: 14px;
  color: #555;
}
.wrap .main-banner {
  text-align: center;
  top: 130px;
  position: relative;
}
.wrap .main-banner .title {
  color: #e5e5e5;
  font-size: 220px;
  font-weight: 900;
  position: absolute;
  left: 51%;
  transform: translate(-51%);
  z-index: 1;
}
.wrap .main-banner img {
  width: 520px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.wrap .contents_area {
  min-height: 500px;
}
.wrap .contents_area .page_title_area {
  margin-top: 80px;
}
.wrap .contents_area .page_title_area .page_title_wrap {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-weight: 300;
}
.wrap .contents_area .join_form_area {
  margin-top: 85px;
}
.wrap .contents_area .join_form_area .join_form_title_area {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}
.wrap .contents_area .join_form_area .join_form_title_area .join_form_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-size: 300;
}
.wrap .contents_area .join_form_area .join_form_title_area .join_form_title span {
  margin-right: 10px;
}
.wrap .contents_area .join_form_area .join_form_title_area .join_form_info {
  margin-right: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  bottom: 0;
  right: 0;
  font-size: 1.2rem;
  letter-spacing: -0.01rem;
  color: #676767;
}
.wrap .contents_area .join_form_area .form_area {
  display: flex;
  justify-content: center;
  margin-top: 17px;
}
.wrap .contents_area .join_form_area .form_area .form_wrap {
  width: 780px;
}
.wrap .contents_area .join_form_area .form_area .form_wrap .form_row {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 780px;
  padding: 10px 0;
}
.wrap .contents_area .join_form_area .form_area .form_wrap .form_row .form_title {
  width: 140px;
}
.wrap .contents_area .join_form_area .form_area .form_wrap .form_row .form_content {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 140px);
  min-height: 40px;
}
.wrap .contents_area .join_form_area .form_area .form_wrap .form_row .form_content .form_text {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}
.wrap .contents_area .join_form_area .form_area .form_wrap .form_row .form_content .form_inner_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  margin-left: 10px;
  background-color: #B2B2B2;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: -0.02rem;
  color: #ffffff;
  transition: all 0.3s ease;
  cursor: pointer;
}
.wrap .contents_area .join_form_area .form_area .form_wrap .form_row .form_content .form_radio + label {
  cursor: pointer;
  display: flex;
  background-position: left center;
  margin-right: 20px;
  margin-left: 10px;
}
.wrap .contents_area .join_form_area .form_area .form_wrap .form_row .form_content .form_row_inner {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.wrap .contents_area .join_form_area .form_area .form_wrap .form_row .form_content .form_row_inner .unit {
  padding: 0 10px 0 5px;
}
.wrap .contents_area .join_form_area .form_area .form_wrap .form_row .form_content.form_phone .form_text {
  max-width: 120px !important;
  width: 30.5%;
  margin-right: 10px;
}
.wrap .contents_area .join_form_area .form_area .form_wrap .form_row .form_content.form_mail .mark {
  padding: 0 10px 0 10px;
}
.wrap .btn_area {
  margin-top: 60px;
  margin-bottom: 150px;
}
.wrap .btn_area .btn_wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.wrap .btn_area .btn_wrap .btn_set {
  display: flex;
  justify-content: center;
}
.wrap .btn_area .btn_wrap .btn_set .btn_basic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 265px;
  height: 60px;
  margin: 0 5px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}/*# sourceMappingURL=join.css.map */